<template>
    <v-card flat>
        <v-toolbar
                v-if="account.name"
                color="accent"
                dark
                flat
        >
            <v-toolbar-title class="headline text-uppercase">
                <span>{{account.name}}</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn flat><span class="font-weight-light" :inner-html.prop="account|format"></span></v-btn>
                <transaction-modal></transaction-modal>
            </v-toolbar-items>
        </v-toolbar>
        <v-toolbar
                v-else
                color="secondary"
                dark
                flat
        >
            <v-toolbar-title class="headline text-uppercase">
                <span>Loading..</span>
            </v-toolbar-title>
        </v-toolbar>

        <v-layout row v-if="account.name">
            <v-flex xs12 >
                <v-card class="card--flex-toolbar" color="accent">
                    <v-toolbar class="pa-1" card prominent color="secondary">
                        <v-toolbar-title  class="body-2 white--text">{{new Date() | formatDate}}</v-toolbar-title>

                        <v-spacer></v-spacer>

                        <!--<v-btn icon>-->
                            <!--<v-icon>search</v-icon>-->
                        <!--</v-btn>-->



                        <!--<v-btn icon>-->
                            <!--<v-icon>more_vert</v-icon>-->
                        <!--</v-btn>-->
                    </v-toolbar>

                    <v-divider></v-divider>

                    <v-card-text >
                        <v-data-table
                                :headers="headers"
                                :items="transactions"
                                class="elevation-1"
                        >
                            <template v-slot:items="props">
                                <td class="">{{ props.item.date }}</td>
                                <td class="">{{ props.item.amount }}</td>
                                <td class="">{{ props.item.tag }}</td>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-card>
</template>

<script>
import {AccountService} from "../api/account";
import TransactionModal from "../components/TransactionModal";

export default {
    components: {TransactionModal},
    props: ['number'],
    name: "AccountDetails",
    mounted() {
        AccountService.getOne(Number(this.number))
            .then((account) => {
                this.account = account
            })
            .catch((err) => console.log(err));
    },
    data() {
        return {
            account: {},
            headers: [
                {
                    text: 'Transaction Date',
                    align: 'left',
                    sortable: true,
                    value: 'date'
                },
                { text: 'Amount', value: 'amount' },
                { text: 'Purpose', value: 'tag' }
            ]
        }
    },
    computed: {
        transactions() {
            return this.$store.getters['transactions']
        }

    }}
</script>

<style scoped>

</style>