<template>
    <v-layout>
        <v-flex lg6>
            <a @click="back">Back</a>
            <h3>Create Account</h3>
            <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
            >
                <v-text-field
                        v-model="account.name"
                        :counter="20"
                        :rules="nameRules"
                        label="Account Name"
                        required
                ></v-text-field>

                <v-select
                        v-model="account.currency"
                        :items="currencyTypes"
                        :rules="currencyRules"
                        label="Currency"
                        required
                ></v-select>

                <v-text-field
                        v-model="account.currencySymbol"
                        :counter="1"
                        :rules="currencySymbolRules"
                        label="Currency Symbol"
                        required
                ></v-text-field>


                <v-select
                        v-model="account.accountType"
                        :items="accountTypes"currencySymbolRules
                        :rules="[v => !!v || 'Account Type is required']"
                        label="Account Type"
                        required
                ></v-select>



                <v-btn
                        :disabled="!valid"
                        color="primary"
                        @click="validate"
                >
                    Save
                </v-btn>

                <v-btn
                        color="error"
                        @click="reset"
                >
                    Cancel
                </v-btn>

                <!--<v-btn-->
                        <!--color="warning"-->
                        <!--@click="resetValidation"-->
                <!--&gt;-->
                    <!--Reset Validation-->
                <!--</v-btn>-->
            </v-form>
        </v-flex>
    </v-layout>
</template>

<script>

export default {
    name: "CreateAccount",
    data: () => ({
        account: {
            name: '',
            accountType: '',
            currency: '',
            currencySymbol: ''
        },
        valid: true,
        name: '',
        currencyRules: [
            v => !!v || 'Currency is required'
        ],
        nameRules: [
            v => !!v || 'Name is required',
            v => (v && v.length <= 10) || 'Name must be less than 10 characters'
        ],
        email: '',
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
        accountTypes: [
           'General',
            'Loan'
        ],
        currencyTypes: [
            "BDT",
            "USD"
        ],
        currencySymbolRules: [
            v => !!v || 'Symbol is required field',
            v => (v && v.length === 1) || 'Name must be a single character'
        ],
        checkbox: false
    }),

    methods: {
        validate () {
            if (this.$refs.form.validate()) {
                this.$store.dispatch('CreateAccount', this.account)
                    .then((response)=> {
                        this.$router.go(-1)
                    })
            }
        },
        reset () {
            this.$refs.form.reset();
            this.$router.push('/');
        },
        resetValidation () {
            this.$refs.form.resetValidation()
        }
    }
}
</script>

<style scoped>

</style>