<template>
  <v-layout>
    <v-flex xs12 sm6 lg3 >
      <accounts class="home"></accounts>
    </v-flex>
    <v-flex xs12 sm6 lg6 >
      <v-card class="home">
        <v-toolbar color="lightp" dark>
          <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->

          <v-toolbar-title><v-icon>report</v-icon> Reports</v-toolbar-title>

          <v-spacer></v-spacer>

          <!-- <v-btn icon>
            <v-icon>search</v-icon>
          </v-btn> -->
        </v-toolbar>
      </v-card>
    </v-flex>
    <v-flex xs12 sm6 lg3 >
      <v-card class="home">
        <v-card-title>Accounts</v-card-title>
      </v-card>
    </v-flex>
    
    
  </v-layout>
</template>

<script lang="javascript">

import Accounts from '@/components/Accounts.vue';


export default {
  components: {Accounts}

}
</script>

<style scoped>
.home {
  margin: 10px !important;
}
</style>

