<template>
    <v-card >

        <v-toolbar color="lightp" dark>
          <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->

          <v-toolbar-title><v-icon>attach_money</v-icon> Accounts</v-toolbar-title>

          <v-spacer></v-spacer>

          <!-- <v-btn icon>
            <v-icon>search</v-icon>
          </v-btn> -->
        </v-toolbar>
        <v-card-text>
          <v-list three-line>
            <template v-for="(account, index) in accounts">
              <v-divider :key="index" ></v-divider>
              <v-list-tile 
                :key="account.number"
                @click="openDetails(account)"
                avatar>
                 <v-list-tile-avatar>
                  <img :src="account.avatar">
                </v-list-tile-avatar>
                <v-list-tile-content>
                <v-list-tile-title v-html="account.number"></v-list-tile-title>
                <v-list-tile-sub-title v-html="account.name"></v-list-tile-sub-title>
                <v-list-tile-sub-title :inner-html.prop="account|format"></v-list-tile-sub-title>
              </v-list-tile-content>
              <!-- <v-list-tile-action>A</v-list-tile-action> -->
              </v-list-tile>
            </template>
          </v-list>
        </v-card-text>
      </v-card>
</template>

<script>

export default {
    name: 'accounts',
    data() {
        return {

        }
    },
    mounted() {
        // AccountService.accounts().then((response)=> {
        //     this.accounts = response.data;
        // })
    },
    methods: {
        openDetails(account) {
            this.$router.push('accounts/details/'+account.number);
        }
    },
    computed: {
        accounts() {
            return this.$store.getters['accounts']
        }
    }
}
</script>

