<template>
    <v-layout row>
        <v-dialog v-model="dialog" persistent max-width="600px">
            <template v-slot:activator="{ on }">
                <v-btn flat v-on="on"><v-icon>add</v-icon></v-btn>
            </template>
            <v-form
                    ref="forms"
                    v-model="valid"
                    lazy-validation
            >
            <v-card>
                <v-card-title>
                    <span class="headline">Add Transaction</span>
                </v-card-title>
                <v-card-text>
                    <!--<v-container grid-list-md>-->

                        <v-layout wrap>
                            <v-flex xs12 lg12>
                                <v-menu
                                        ref="menu1"
                                        v-model="menu1"
                                        :close-on-content-click="false"
                                        :nudge-right="40"
                                        lazy
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        max-width="290px"
                                        min-width="290px"
                                >
                                    <template v-slot:activator="{ on }">
                                        <v-text-field
                                                v-model="dateFormatted"
                                                label="Date(*)"
                                                :readonly="true"
                                                persistent-hint
                                                prepend-icon="event"
                                                @blur="date = parseDate(dateFormatted)"
                                                v-on="on"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>
                                </v-menu>

                            </v-flex>

                            <v-flex xs12 lg12>
                                <v-text-field
                                        label="Amount(*)"
                                        :rules="amountRules"
                                        v-model="transaction.amount"
                                        prepend-icon="attach_money"
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 lg12>
                                <v-select
                                        prepend-icon="category"
                                        v-model="transaction.tag"
                                        :items="['Food', 'Transport']"
                                        label="Tag(*)"
                                ></v-select>
                            </v-flex>

                        </v-layout>


                    <!--</v-container>-->
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="reset">Close</v-btn>
                    <v-btn color="blue darken-1" flat @click="save" :disabled="!valid">Save</v-btn>
                </v-card-actions>
            </v-card>
            </v-form>
        </v-dialog>
    </v-layout>
</template>

<script>
export default {
    name: "TransactionModal",
    data: vm => ({
        date: new Date().toISOString().substr(0, 10),
        dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
        menu1: false,
        menu2: false,
        dialog: false,
        amountRules: [
            v => !!v || 'Amount is required',
            v => (v && !isNaN(v) && Number(v) > 0) || 'Must be a number and greater than zero'
        ],
        valid: true,
        transaction: {
            date: new Date(),
            amount: 0,
            tag: null,
            account: null

        }
    }),

    computed: {
        computedDateFormatted () {
            return this.formatDate(this.date)
        },
        accountNumber() {
            return this.$route.params.number;
        }
    },

    watch: {
        date (val) {
            this.dateFormatted = this.formatDate(this.date)
        }
    },

    methods: {
        formatDate (date) {
            if (!date) return null

            const [year, month, day] = date.split('-')
            return `${month}/${day}/${year}`
        },
        parseDate (date) {
            if (!date) return null

            const [month, day, year] = date.split('/')
            return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
        },
        save() {
            if (this.$refs.forms.validate()) {
                this.transaction.account = Number(this.accountNumber);
                // console.log(this.transaction);
                this.$store.dispatch('AddTransaction', this.transaction);
            }
        },
        reset() {
            this.$refs.forms.resetValidation()
            this.dialog = false;
            this.transaction = {
                date: new Date(),
                amount: 0,
                tag: null,
                account: null
            }
        }
    }
}
</script>

<style scoped>

</style>