<template>
  <v-app >
    <v-toolbar app dark color="primary">
      <v-toolbar-title class="headline text-uppercase">
        <router-link to="/"><span>
          PEXP
        </span></router-link>
        <span class="font-weight-light"></span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat><v-icon>settings</v-icon></v-btn>
        <v-btn flat><v-icon>notifications</v-icon></v-btn>
        <v-btn flat><v-icon>power_settings_new</v-icon></v-btn>
        
      </v-toolbar-items>
    
    </v-toolbar>

    <v-content>
      <v-container>
        <router-view></router-view>
      </v-container>


      <v-speed-dial
              v-model="fab"
              fixed
              :bottom="bottom"
              :right="right"
              :direction="direction"
              :open-on-hover="hover"
              :transition="transition"
      >
        <template slot="activator">
          <v-btn
                  v-model="fab"
                  color="blue darken-2"
                  dark
                  fab
          >
            <v-icon>account_circle</v-icon>
            <v-icon>close</v-icon>
          </v-btn>
        </template>


        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn
                    v-on="on"
                    fab
                    dark
                    small
                    color="red"
                    @click="addTransaction"
            >
              <v-icon>add</v-icon>
            </v-btn>
          </template>
          <span>Add Transaction</span>
        </v-tooltip>

        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn
                    v-on="on"
                    fab
                    dark
                    small
                    color="red"
                    @click="createAccount"
            >
              <v-icon>add</v-icon>
            </v-btn>
          </template>
          <span>Create Account</span>
        </v-tooltip>

      </v-speed-dial>

    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld'

export default {
  name: 'App',
  components: {
    HelloWorld
  },
  data () {
    return {
        direction: 'top',
        fab: false,
        fling: false,
        hover: true,
        tabs: null,
        right: true,
        bottom: true,
        transition: 'slide-y-reverse-transition'
    }
  },
  mounted() {
      this.$store.dispatch('GetAccounts')
  },
  computed: {
      activeFab () {
          switch (this.tabs) {
              case 'one': return { 'class': 'purple', icon: 'account_circle' }
              case 'two': return { 'class': 'red', icon: 'edit' }
              case 'three': return { 'class': 'green', icon: 'keyboard_arrow_up' }
              default: return {}
          }
      }
  },

  watch: {
      top (val) {
          this.bottom = !val
      },
      right (val) {
          this.left = !val
      },
      bottom (val) {
          this.top = !val
      },
      left (val) {
          this.right = !val
      }
  },
  methods: {
      addTransaction() {
          this.$router.push('/transactions/add')
      },
      createAccount() {
          this.$router.push('/accounts/create')
      }
  }
}
</script>


<style>
  .v-toolbar a {
    color: #ffffff !important;
    text-decoration: none;
  }
</style>